@font-face {
    font-family: 'pt_serif' serif;
    src: url('fonts/ptserif-bold-webfont.woff2') format('woff2'),
         url('fonts/ptserif-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
