body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.logo {
  padding: 40px 0 40px 74px;
  position: relative;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  margin-left: 30px;
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  margin-left: 30px;
  background: #0056ec;
}

.logo__text {
  font: bold 24px/32px pt_serif, arial, helvetica, sans-serif;
  position: relative;
}

#checkbox {
  opacity: 0;
}

.main {
  padding: 20px 45% 100px 27px;
  background: top 5px right 10px no-repeat url(img/img.svg);
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/66px 'pt_serif', arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__description {
  margin-bottom: 41px;
  max-width: 75%;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 13px 23px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.wrapper {
  margin: auto;
  width: 72%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 13px;
}

.menu__item {
  margin-right: 24px;
  position: relative;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

@media (min-width: 1900px) {
  .wrapper {
    width: 85%;
  }

  .logo {
    padding: 40px 0 40px 97px;
  }

  .logo__circle_color_blue,
  .logo__circle_color_dark-blue {
    margin-left: 53px;
  }

  .menu {
    padding-top: 0;
    padding-right: 39px;
  }

  .menu__item {
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  }

  .header {
    margin-bottom: 10%;
  }

  .main {
    padding: 38px 50% 0 50px;
    background: top -30px right 6% /47% no-repeat url(img/img.svg);
  }

  .main__title {
    font: bold 66px/88px 'pt_serif', arial, helvetica, sans-serif;
    margin-bottom: 35px;
  }

  .main__description {
    max-width: 60%;
    font: 22px/26px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    padding: 17px 28px;
    margin-left: 2px;
    margin-bottom: 25%;
  }
}

@media (max-width: 768px) {
  #checkbox {
    opacity: 0;
  }

  .burger__menu {
    display: flex;
    width: 25px;
    padding-top: 4px;
    border-bottom: 3px solid #0056ec;
  }

  .burger {
    display: block;
    position: relative;
    margin: 27px 8px 0 0;
    z-index: 20;
  }

  .burger::after,
  .burger::before {
    display: flex;
    position: relative;
    content: "";
    border-bottom: 3px solid #0056ec;
    padding-bottom: 4px;
  }

  #checkbox:checked ~ label .burger::before {
    position: relative;
    transform: rotate(45deg);
    top: 7px;
  }

  #checkbox:checked ~ label .burger::after {
    position: relative;
    transform: rotate(-45deg);
    top: -4px;
    right: 3px;
  }

  #checkbox:checked ~ label .burger__menu {
    border: none;
  }

  .menu {
    display: none;
  }

  #checkbox:checked ~ .menu {
    display: block;
    position: fixed;
    background: white;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
  }

  #checkbox:checked ~ .menu .menu__item {
    display: block;
    font: 500 30px/35px Roboto, arial, helvetica, sans-serif;
    padding-bottom: 24px;
    width: auto;
    margin-right: 0;
  }

  .wrapper {
    width: 100%;
    margin: auto;
  }

  .logo {
    padding-top: 35px;
  }

  .logo__text {
    display: none;
  }

  .logo__circle_color_dark-blue {
    margin-left: 23px;
  }

  .logo__circle_color_blue {
    margin-left: 23px;
  }

  .header {
    margin-bottom: auto;
  }

  .main {
    text-align: center;
    padding: 70% 0 0 0;
    background-size: 80%;
    background-position: top 5px right 26px;
  }

  .main__title {
    font: bold 30px/40px 'pt_serif', arial, helvetica, sans-serif;
    padding-top: 17px;
    margin-left: 14px;
    margin-bottom: 32px;
  }

  .main__description {
    margin-bottom: 25px;
    max-width: 68%;
    font: 16px/19px Roboto, arial, helvetica, sans-serif;
    margin-left: 19%;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    margin-left: 5%;
  }
}
