body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.logo {
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
  padding: 40px 0;
  padding-left: 44px;
  position: relative;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue { background: #0056ec; }

.main {
  padding: 0 56% 100px 0;
  background: top right no-repeat url(img/img.svg);
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/66px 'pt_serif', arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__description {
  margin: 0 0 41px 0;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 14px 16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

 .main__button:hover {
   opacity: .5;
 }

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 26px;
  position: relative;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item: last-child {
  margin-right: 0;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}
