body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.logo {
  padding: 40px 0 40px 70px;
  position: relative;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  margin-left: 30px;
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  margin-left: 30px;
  background: #0056ec;
}

.logo__text {
  font: bold 24px/32px pt_serif, arial, helvetica, sans-serif;
  position: relative;
}

#checkbox {
  opacity: 0;
}

.main {
  padding: 20px 45% 100px 27px;
  background: top 3px right 13% no-repeat url(img/img.svg);
}

.main__title {
  margin: 0 0 38px 0;
  font: bold 50px/66px 'pt_serif', arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__description {
  margin-bottom: 42px;
  max-width: 70%;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}

@keyframes pulse1 {
  0% {
    transform: scale(.9, .9);
  }

  30% {
    transform: scale(1, 1);
    opacity: .8;
  }

  50% {
    transform: scale(1.2, 1.2);
    opacity: .7;
  }

  70% {
    transform: scale(1.3, 1.3);
    opacity: .5;
  }

  90% {
    transform: scale(1.4, 1.4);
    opacity: .3;
  }

  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(.9, .9);
  }

  30% {
    transform: scale(1, 1);
    opacity: .8;
  }

  50% {
    transform: scale(1.2, 1.2);
    opacity: .7;
  }

  80% {
    transform: scale(1.3, 1.3);
    opacity: .3;
  }

  90% {
    transform: scale(1.4, 1.4);
    opacity: .1;
  }

  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

.main__animation {
  display: block;
  position: absolute;
  margin-left: 3px;
}

.main__button {
  display: inline-block;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 13px 21px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button::after,
.main__button::before {
  display: block;
  position: absolute;
  width: 202px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 2px solid #0056ec;
  content: '';
}

.main__button::before {
  animation: pulse1 1.5s 0s linear infinite;
}

.main__button::after {
  animation: pulse2 1.5s .3s linear infinite;
}

.main__button:hover {
  opacity: .5;
}

.main__button:hover::after,
.main__button:hover::before {
  animation: none;
}

.wrapper {
  margin: auto;
  width: 75%;
  margin-left: 14%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin-right: 80px;
}

.menu__item {
  margin-right: 24px;
  position: relative;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:nth-child(4n) {
  left: 6px;
}

.menu__item:last-child {
  margin-right: 0;
  left: 7px;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

@media (min-width: 1900px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .logo {
    padding: 40px 0 40px 46px;

  }

  .logo__circle_color_blue,
  .logo__circle_color_dark-blue {
    margin-left: 5px;
  }

  .menu {
    padding-top: 2px;
    margin-right: 20px;
  }

  .menu__item {
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  }

  .menu__item:last-child {
    left: 12px;
  }
  .header {
    margin-bottom: 5%;
  }

  .main {
    padding: 8% 50% 100% 0;
    background: top 55px right 1% /50% no-repeat url(img/img.svg);
  }

  .main__title {
    font: bold 66px/88px 'pt_serif', arial, helvetica, sans-serif;
    margin-bottom: 35px;
  }

  .main__description {
    max-width: 57%;
    font: 22px/26px Roboto, arial, helvetica, sans-serif;
    left: 0;
    margin-bottom: 43px;
  }

  .main__button {
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    padding: 17px 28px;
    margin-left: 2px;
    margin-bottom: 25%;
  }

  .main__button::before,
  .main__button::after {
    width: 271px;
    height: 50px;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }

  .logo {
    margin-top: -1px;
  }
  .logo__circle_color_blue,
  .logo__circle_color_dark-blue {
    margin-left: 45px;
  }

  .logo__text {
    padding-left: 18px;
  }

  .menu {
    padding-right: 16px;
    padding-top: 10px;
    margin-right: 38px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .main {
    padding: 20px 45% 100px 45px;
    background: top 4px right 9% no-repeat url(img/img.svg);
  }

  .main__title {
    margin: 0 0 32px 0;
    padding-bottom: 5px;
  }

  .main__description {
    max-width: 69%;
    margin-bottom: 43px;
  }

  .main__button {
    padding: 13px 21px;
  }
}

@media (min-width: 760px) and (max-width: 1000px) {
  .wrapper {
    width: 95%;
    margin: auto;
  }

  .menu {
    margin-left: 15%;
    margin-right: 5%;
  }

  .header {
    margin-bottom: 40px;
  }

  .main {
    background: top 4px right 9%/55% no-repeat url(img/img.svg);
  }

  .main__title {
    font: bold 32px/42px 'pt_serif', arial, helvetica, sans-serif;
    max-width: 70%;
    }
}


@media (min-width: 200px) and (max-width: 760px) {
  #checkbox {
    opacity: 0;
  }

  .burger__menu {
    display: flex;
    width: 25px;
    padding-top: 4px;
    border-bottom: 3px solid #0056ec;
  }

  .burger {
    display: block;
    position: relative;
    margin: 27px 23px 0 0;
    z-index: 20;
  }

  .burger::after,
  .burger::before {
    display: flex;
    position: relative;
    content: "";
    border-bottom: 3px solid #0056ec;
    padding-bottom: 4px;
  }

  #checkbox:checked ~ label .burger::before {
    position: relative;
    transform: rotate(45deg);
    top: 7px;
  }

  #checkbox:checked ~ label .burger::after {
    position: relative;
    transform: rotate(-45deg);
    top: -4px;
    right: 3px;
  }

  #checkbox:checked ~ label .burger__menu {
    border: none;
  }

  .menu {
    display: none;
  }

  #checkbox:checked ~ .menu {
    display: block;
    position: fixed;
    background: white;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
  }

  #checkbox:checked ~ .menu .menu__item {
    display: block;
    font: 500 30px/35px Roboto, arial, helvetica, sans-serif;
    padding-bottom: 24px;
    width: auto;
    margin-right: 0;
  }

  .wrapper {
    width: 100%;
    margin: auto;
  }

  .logo {
    padding-top: 35px;
  }

  .logo__text {
    display: none;
  }

  .logo__circle_color_dark-blue {
    margin-left: 23px;
  }

  .logo__circle_color_blue {
    margin-left: 23px;
  }

  .header {
    margin-bottom: auto;
  }

  .main {
    text-align: center;
    padding: 72% 0 0 0;
    background-size: 75%;
    background-position: top 3% center;
  }

  .main__title {
    display: inline-block;
    font: bold 30px/40px 'pt_serif', arial, helvetica, sans-serif;
    margin-bottom: 5%;
    width: 64%;
  }

  .main__description {
    display: inline-block;
    margin-bottom: 24px;
    max-width: 68%;
    font: 16px/19px Roboto, arial, helvetica, sans-serif;
  }

  .main__animation {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .main__button {
    position: relative;
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    padding: 14px 21px;
  }

  .main__button::before,
  .main__button::after {
    width: 205px;
    height: 38px;
  }
}
